<% extend('partials/core') %>
<div class="row flex text-center">
    <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
        <h1 class="text-uppercase" style="text-align:center"><%= h1 %></h1>
    </div>
</div>