
<% extend('partials/core') %>
<div class="row flex text-center">
    <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
        <h1 class="text-uppercase" style="text-align:center">Home</h1>
    </div>
</div>
<script type="text/javascript">
   
</script>
<!-- <ins id="kaD7jXqp" data-theme="chathispanoPor defecto" data-autojoin="true"></ins><script src="https://chathispano.com/assets/webchat/js/embed.min.js"></script> -->