<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title><%= h1 %> - Christian Pasín Rey - NodeJs Portfolio</title>
</head>
<body>
    <main>
        <%- include('navigation') %>
        <div class="container fluid mt-5">
            <%- content %>
        </div>
    </main>
    <%- include('footer') %>
    <script>
        const height = window.innerHeight;
        function adjustHeigh(value){
            return document.body.style.minHeight = value;
        }
        adjustHeigh(height + 'px');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
<style>
footer {
  position: fixed;
  bottom: 1rem;
  /* negative value of footer height */
  height: 90px;
  width: 100%;
  clear: both;
  align-items: center;
  padding-left: 1rem;
  background-color: rgb(80, 79, 79);
}

</style>
</html>
