<footer>
    <div class="link-container fluid">
        <a class="footer-link" href="/"">Home</a>
        <a class="footer-link" href="/about-me"">About me</a>
        <a class="footer-link" href="/skills"">Skills</a>
    </div>
</footer>
<style>
    footer {
        height: 90px;
        width: 100%;
        clear: both;
        align-items: center;
        background-color: rgb(80, 79, 79);
        position: absolute;
        bottom:0px;
    }
    .footer-link{
        color:white;
        padding-right: 2rem;
        padding-left: 2rem
    }
    .footer-link:hover{
        color:lightseagreen
    }
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
</style>
